<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
    </main>

    {%- include footer.html -%}
    <script src="/assets/shariff/shariff.complete.js" | relative_url></script>
    <script src="/assets/prism/prism.js" | relative_url></script>
    <script src="/assets/uikit/uikit.min.js" | relative_url></script>

  </body>

</html>
