---
layout: default
---

<main class="page-content" aria-label="Content">
      <div class="wrapper">
      	{%- if page.title -%}
    		<h1 class="page-heading">{{ page.title }}</h1>
  		{%- endif -%}

        {{ content }}

        <div align="center">
			<div class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: scale">
			{% for picture in site.data.photography %}
    			<div>
        			<a class="uk-inline" href="{{ picture.url }}" data-caption="{{ picture.name }}">
            			<img src="{{ picture.thumburl }}" alt="">
        			</a>
    			</div>
    		{% endfor %}
			</div>
		</div>
    </div>
</main>

